body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: hsl(234, 29%, 20%);
}

.app{
    width: 700px;
    height: auto;
    background-color: hsl(0, 0%, 100%);
    padding-left: 50px;
    border-radius: 15px;
}

.header1{
    color: hsl(234, 29%, 20%);
    margin-left: 10px;
}

.list{
    display: flex;
    flex-direction: column;
}

.list-item{
    display: flex;
    align-items: center;
}

.list-item-p{
    margin-left: 10px;
}

.icon-list{
    width: 3%;
    height: 3%;
}

.email-container{
    display: flex;
    flex-direction: column;
    width: 350px;
}

.btn{
    padding: 10px;
    background-color: hsl(234, 29%, 20%);
}